h1.name { 
  font-size: 100px;
 }

h3.catchphrase {
  font-size: 75px; 
 }

.logo { 
  width: 10%;
  height: 10%;
 }

.crop {
 height: 500px;
 width: 700px;
 overflow: hidden;
}

.crop img {
 height: auto;
 width: 400px;
}
