
/* Containers are named after looking at website from desktop view */
.html { 
  box-sizing: border-box;
 }
.waterandboatsimage { 
float: left;
}

.boatsinwaterimage { 
float: left; 
}

.mountainsimage {
float: left; 
}

.palmtreesimage { 
float: left; 
}

.nameandcatchphrase { 
}

.name { 
float: right;
}

.catchphrase { 
 clear: right;
}

.logo { 
  float: left; 
 }

.block { 
display: block;
}

 .clearLeft { 
  clear: left;
}

.clearRight {
  clear: right;
}

.containerwholepage { 

   display: flex;
 }

 .containermiddle { 
  margin: 0 5% 0 5%;
  }

.containertop {
  clear: left;
  margin: 0 5% 0 15%;
  width: 80%;
  border-bottom: 4px solid;
 }

 .containerleft {  
  width: 7.5%;
  margin-left: 5%;
  margin-right: 2.5%;
  float: left;
  clear: left;
  }

.containerbottom { 
    margin-right: 5%;
    width: 80%;
    float: right;
}

.cropicon {
 height: 200px;
 width: 300px;
 overflow: hidden;

}

.cropicon img {
 height: auto;
 width: 10%;
}

.croplogo {
 height: 30%;
 width: 30%;
}

.croplogo img {
 height: auto;
 width: 10%;
 margin: 0 0 0 0;
}

.cropmain { 
  height: 100%;
  width: 100%;
 }

.cropmain img {
  height: auto;
  width: 100%;
 }

.horizontalmargins {
display: block; 
 margin-left: auto;
 margin-right: auto;
 }
 
 .cropside { 
  height: 90%;
  width: 90%;
 }


.cropside img {
  height: auto;
  width: 100%;
 }
 .sidetext { 
  font-size: 1.5vw;
  }

 .featuredwork { 
  display: block;
  clear: both;
  text-align: left;
  }



.floatRight { 
  float: right; 
}

h1.name { 
  order: 1;
  font-size: 3vw;
  margin: 0;
  padding: 0;
 }

h3.catchphrase {
  text-align: right;
  order: 2;
  font-size: 2.5vw;
  margin: 0;
  padding: 0;
}


.clearBoth { 
  clear: both; 
}

.floatLeft { 
  float: left;
}


.inlineBlock { 
display: inline-block; 
}

.html { 
margin: 0 0 0 0; 
}

.logo { 
  float: left;
 }

.name { 
  float: right;
}

.positionLeftRelative { 
  position: relative;
  left: 10%;
 }

.textAlignCenter {
  text-align: center;
}

.verticalAlignTop { 
  vertical-align: top;
 }

.block { 
  display: block;
}

.captionheadingcolor { 
  color: #052848;
}

.captionlinkcolor { 
  color: #052848;
}

.namecolor { 
  color: #052848;
}

.catchphrasecolor { 
  color: #052848;
}

.bordercolor {
<<<<<<< HEAD
  color: #0b5b9f;
}

.sidetextcolor { 
  color: #052848;
||||||| merged common ancestors
  color:#0b5b9f;
=======
  color:#409ff2;
>>>>>>> tmp3
}






@media screen and (min-width: 360px) and (max-width: 1399px)
{

body { 
  width: 90%;
  margin: 5% 5% 5% 5%;
}
.containerwholepage { 
  width: 100%;
}

.containermiddle { 
  width: 100%;
  margin: 0 0 0 0;
}

.containertop {
    margin: 0 0 0 0;
    width: 100%;
  }
.containerleft { 
  width: 100%;
  margin: 0 0 0 0;
  position: relative;

  }
  /*https://www.w3.org/Style/Examples/007/center.en.html#block*/
.cropside { 
  height: 100%;
  width: 100%;
}
.cropside img {
  height: auto;
  width: 100%;
 }

.croplogo { 
  height: 22.5%;
  width: 22.5%;
}
.croplogo img {
  height: auto;
  width: 100%;
 } 
 
 .horizontalmargins {
  display: block; 
  margin: 10% 30% 10% 30%;
 }

.containerbottom { 
  margin-right: 0;
  width: 100%;
  }

.cropicon {
  height: 100%;
  width: 100%;
}
.cropicon img {
  height: auto;
  width: 10%;
}
 .featuredwork { 
  text-align: center;
 }

 .sidetext { 
  font-size: 3vw;
  }
}

/* Would customize for iPad but don't change anything because original 
works fine */
 @media screen and (min-width: 768px) {
 }

 @media screen and (min-width: 1400px){ 
    .containerwholepage {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 

     } 
  }