h1.name { 
  float: right;
  order: 1;
  font-size: 80px;
  margin: 0;
  padding: 0;
 }

h3.catchphrase {
  float: right;
  text-align: right;
  order: 2;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.logo { 
  float: left; 
 }

.crop {
 height: 200px;
 width: 300px;
 overflow: hidden;
}

.crop img {
 height: auto;
 width: 400px;
}

.crop2 {
 height: 100px;
 width: 125px;
 overflow: hidden;
}

.crop2 img {
 height: auto;
 width: 400px
}

.containertop {
  float: right;
  width: 70%;
  border-bottom: 5px solid red;
 }

